{% extends 'base.html' %}
{%  load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{%  block title %}{{ specific_shoebox.name }}{% endblock %}

{% block header-title %}Create a Box{% endblock %}

{% block content %}
    <div class="detail-wrapper">
        <img src="/media/{{ specific_shoebox.image }}" class="detail-article-image" alt="shoebox image">
        <div class="article-info-small">
            <div class="article-name">{{ specific_shoebox.name }}</div>
            <div class="article-details-wrapper">
                <div>
                    <div>Marke: {{ specific_shoebox.brand }}</div>
                    <div>Größe: {{ specific_shoebox.width }} x {{ specific_shoebox.height }} x {{ specific_shoebox.length }} cm</div>
                    <div class="article-price-detail">{{ specific_shoebox.price }}€</div>
                </div>
                <div>
                    <button class="add-item-button">+</button>
                </div>
            </div>

            <div class="article-description-detail">{{ specific_shoebox.description }}</div>
        </div>
    </div>

    <h2>Bewertungen</h2>
    <div class="reviews-wrapper">
        <form method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Add Review</button>
        </form>
        {% for comment in comments_specific_shoebox  %}
            <div class="review">
                <div class="reviewer-info">
                    <!-- TODO: implement user avatar -->
                    <div class="avatar-small"></div>
                    <div>
                        <p>{{ comment.user.username }}</p>
                        <p>{{ comment.timestamp }}</p>
                        <div class="stars-wrapper">
                            {% with ''|center:comment.rating as range %}
                            {% for _ in range %}
                                <div class="stars"></div>
                            {% endfor %}
                            {% endwith %}
                        </div>
                    </div>

                </div>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}

    </div>
{% endblock %}