{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}{{ specific_shoebox.name }}{% endblock %}

{% block logged_in_content %}
    <div class="detail-wrapper">
        <img src="/media/{{ specific_shoebox.image }}" class="detail-article-image" alt="shoebox image">
        <div class="article-info-detail">
            <div class="article-name">{{ specific_shoebox.name }}</div>
            <div class="article-details-wrapper">
                <div>
                    <div class="article-price la">{{ specific_shoebox.price }}€</div>
                    <ul>
                        <li>brand: {{ specific_shoebox.brand }}</li>
                        <li>size: {{ specific_shoebox.width }} x {{ specific_shoebox.height }}
                            x {{ specific_shoebox.length }} cm
                        </li>
                        <li>layers: {{ specific_shoebox.get_flute_layers_display }}</li>
                        <li>flute type: {{ specific_shoebox.get_flute_type_display }}</li>
                        <li>liner type: {{ specific_shoebox.get_liner_type_display }}</li>
                    </ul>
                </div>
                <div>
                    <a href="../../basket/{{ specific_shoebox.id }}" class="add-item button btn">+</a>
                    <!-- document icon from https://feathericons.com/ 14.07.21 -->
                    <a href="{% url 'pdfdl' specific_shoebox.id %}" class="notice button" title="download pdf"><img src="../../media/misc/file-text.svg" alt="download PDF"> </a>
                </div>
            </div>

            <div class="article-description-detail">{{ specific_shoebox.description }}</div>
        </div>
    </div>

    <h2>Reviews</h2>
    <section class="reviews-wrapper">
        <form id="comment_form" method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button class="delete_submit" type="submit">ADD REVIEW</button>
        </form>
        <br>

        {% if messages %}
            <ul class="messages notice">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for comment in comments_specific_shoebox %}
            <article class="review">
                <aside class="votes">
                    <span>{{ comment.get_upvotes_count }}</span>
                    <a href="{% url 'comment-vote' comment.id 'up' %}">
                        <img src="{% static '../media/misc/upvote.png' %}" alt="upvote" class="upvote arrow">
                    </a>
                    <a href="{% url 'comment-vote' comment.id 'down' %}">
                        <img src="{% static '../media/misc/downvote.png' %}" alt="downvote" class="downvote arrow">
                    </a>
                    <span>{{ comment.get_downvotes_count }}</span>
                </aside>

                <div>
                    <div class="reviewer-info">
                        <img class="avatar-small" src="{{ comment.get_user_profile_picture }}">
                        <div>
                            <p>{{ comment.get_username }}</p>
                            <p>{{ comment.timestamp }}</p>
                            <div class="stars-wrapper">
                                {% with ''|center:comment.rating as range %}
                                    {% for _ in range %}
                                        <div class="stars"></div>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <p>{{ comment.text }}</p>

                    <!-- TODO: make real comment remove button and not just a ph -->
                    <!-- TODO: make real comment edit button -->
                    {% if user.is_authenticated %}
                        <a class="alert btn" href="../../service/delete/{{ comment.id }}/">DELETE</a>
                        <a class="notice btn" href="../../service/edit/{{ comment.id }}/">EDIT</a>
                        <a class="notice btn" href="../../report/{{ comment.id }}/">REPORT</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}

    </section>
{% endblock %}

{% block not_logged_in_content %}
    <div class="detail-wrapper">
        <img src="/media/{{ specific_shoebox.image }}" class="detail-article-image" alt="shoebox image">
        <div class="article-info-small">
            <div class="article-name">{{ specific_shoebox.name }}</div>
            <div class="article-details-wrapper">
                <div>
                    <div>Marke: {{ specific_shoebox.brand }}</div>
                    <div>Größe: {{ specific_shoebox.width }} x {{ specific_shoebox.height }}
                        x {{ specific_shoebox.length }} cm
                    </div>
                    <div class="article-price-detail">{{ specific_shoebox.price }}€</div>
                </div>
                <div>
                    <!-- document icon from https://feathericons.com/ 14.07.21 -->
                    <a href="{% url 'pdfdl' specific_shoebox.id %}" class="notice button" title="download pdf"><img src="../../media/misc/file-text.svg" alt="download PDF"> </a>
                </div>
            </div>

            <div class="article-description-detail">{{ specific_shoebox.description }}</div>
        </div>
    </div>

    <h2>Bewertungen</h2>
    <section class="reviews-wrapper">
        {% for comment in comments_specific_shoebox %}
            <article class="review">
                <aside class="votes">
                    <span>{{ comment.get_upvotes_count }}</span>
                    <a href="{% url 'login' %}">
                        <img src="{% static '../media/misc/upvote.png' %}" alt="upvote" class="upvote arrow">
                    </a>
                    <a href="{% url 'login' %}">
                        <img src="{% static '../media/misc/downvote.png' %}" alt="downvote" class="downvote arrow">
                    </a>
                    <span>{{ comment.get_downvotes_count }}</span>
                </aside>

                <div>
                    <div class="reviewer-info">
                        <img class="avatar-small" src="{{ comment.get_user_profile_picture }}">
                        <div>
                            <p>{{ comment.get_username }}</p>
                            <p>{{ comment.timestamp }}</p>
                            <div class="stars-wrapper">
                                {% with ''|center:comment.rating as range %}
                                    {% for _ in range %}
                                        <div class="stars"></div>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <p>{{ comment.text }}</p>

                    <!-- TODO: make real comment remove button and not just a ph -->
                    <!-- TODO: make real comment edit button -->
                    {% if user.is_authenticated %}
                        <a href="../../service/delete/{{ comment.id }}/">DELETE</a>
                        <a href="../../service/edit/{{ comment.id }}/">EDIT</a>
                    {% endif %}
                </div>
            </article>
        {% endfor %}

    </section>
{% endblock %}