* {
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    animation: fadeInAnimation ease-in-out 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
}

@keyframes slideDown {
  0% {
      transform: translateY(-20%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}


a:link {
    text-decoration: none;
    line-height: 2rem;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 36pt;
}

h3 {
    margin: 0;
    font-size: 22pt;
}

.shopping-cart-ul {
    list-style: none;
    padding: 0;
}

.marker {
    font-family: 'Permanent Marker', cursive;
    font-size: 36pt;
}

.final-price {
    transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -webkit-transform: rotate(5deg);
    display: inline-block;
    font-size: 26pt;
    margin-left: 1rem;
    font-weight: bold;
    background: #8cce3c;
    padding: 0rem 1rem 0 1rem;
    box-shadow: 3px 4px 1px #0000000d;
}

body {
    background: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: rgba(9, 9, 9, 0.07);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99999;
}

footer {
    border-top: 1px solid #666;
    padding: 3rem;
}

.logo {
    height: 2rem;
}

.logo-wrapper {
    padding-left: 2rem;
}

.messages {
    text-decoration: none;
    list-style: none;
    padding: 1rem;
}

.article-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.article-image-wrapper {
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.article-image:hover {
    height: 110%;
}

.article-image {
    image-rendering: optimizespeed;
    height: 100%;
}

.article-brand {
    font-weight: 600;
}

.article {
    width: max-content;
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    padding: 2rem;
    margin: 2rem;
    border-radius: 5px;
    box-shadow: #0000002e 1px 2px 2px 0px;
    animation: slideDown ease-in-out 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.article-info-small {
    padding-top: 1rem;
    width: 25rem;
}

.article-info-detail {
    padding-top: 1rem;
    width: 100%;
}

.article-name {
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 26pt;
}

.article-price {
    color: #666;
    font-weight: bolder;
    font-family: arial;
    font-size: 32pt;
    text-align: right;
}

.header-user-bla {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-user-bla * {
    margin: 0 0.5rem 0.5rem 1rem;
}

.header-user-name {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
}

.header-login-logout {
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: normal;
    color: black;
}

.avatar-small {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 100px;
    margin-right: 1rem;
}

.btn {
    background: #575757;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #00000047;
}

.alert {
    background: #8e2323;
    border: 1px solid #5e2929;
}

.notice {
    background: #ffdb1a;
    border: 1px solid #ccb274;
    color: black;
}

.detail-article-image {
    width: 100%;
}

.detail-wrapper {
    width: 80%;
    padding: 3rem;
    margin: 3rem;
    background: #f1f1f1;
}

.article-details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: white;
    font-weight: bold;
    font-size: 26pt;
    border-radius: 5px;
    cursor: pointer;
}

.paybuttons-wrapper {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding: 2rem 0 6rem 0;
}

.paybuttons-wrapper > button {
    width: 30%;
    color: black;
    cursor:pointer;
}

.add-item {
    background: #8cce3c;
}

.fr {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ais {
    align-items: flex-start;
}

.fr > * {
    padding: 1rem;
}

.fc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.hw {
    width: 50%;
}

.la {
    text-align: left;
}

.reviews-wrapper {
    width: 80%;
    padding: 3rem;
    margin: 3rem;
    background: #f1f1f1;
}

.reviewer-info {
    display: flex;
    align-items: center;
}

.review {
    padding: 3rem;
    background: white;
    margin-bottom: 3rem;
    box-shadow: #0000002e 1px 2px 2px 0px;
    display: flex;
    flex-direction: row;
}

.votes {
    padding: 1rem 2rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.arrow {
    width: 1.5rem;
}

.upvote {

}

.downvote {

}

.search {
    padding: 0.5rem 6rem 0.5rem 1rem;
    background: white;
    border: 1px solid #c4c4c4;
    text-align: start;
    color: #6a6a6a;
}

.stars {
    background-image: url(../../media/misc/rating_stars.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
}

.stars-wrapper {
    display: flex;
    flex-direction: row;
}

.add-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
}

.add-form > input, select {
    height: 3rem;
    padding-left: 1rem;
}

#id_image {
    align-self: center;
}

.add-form button {
    width: 30%;
    align-self: center;
}

.add-form > label {
    padding: 2rem 0 1rem 0;
    font-weight: bold;
}

.login-form {
    padding-bottom: 3rem;
}

.login-form > p > input {
    padding-left: 1rem;
}

.login-form > p {
    display: flex;
    justify-content: space-between;
}

.login-form > p > label {
    padding: 1rem;
}

.login-form > button {
    width: 100%;
    height: 3rem;
}

#search_form {
    text-align: center;
    margin-bottom: 15px;
}

#search_form p label:after {
    content: "\A";
    white-space: pre;
}

#search_form p input {
    margin-top: 5px;
}

.user_list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 0;
}

.user_name {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
}

.user_image {
    border: 2px solid black;
    border-radius: 20px;
}

.login-notify {
    margin: 20px 0px;
}

.shopping {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    top: 7.5rem;
    right: 1rem;
}

.shopping > img {
    filter: invert(100%);
}

.basket-image {
    height: 10rem;
}

.article-price-detail {
    font-weight: bolder;
    font-size: 24pt;
}

.author_delete {
    font-size: 20px;
    margin-bottom: 5px;
}

.author_on {
    color: gray;
    font-size: 14px;
}

.delete_submit {
    font-size: 14px;
}

.delete_sure {
    margin: 0px 0px 30px 0px;
}

#comment_edit_form_service {
    text-align: center;
    margin-bottom: 15px;
}

#comment_edit_form_service p label:after {
    content: "\A";
    white-space: pre;
}

#comment_edit_form_service p textarea {
    margin-top: 5px;
}

#comment_form textarea {
    width: 100%;
}

#comment_form {
    text-align: center;
}

#signup {
    text-align: center;
}

#signup p label:after {
    content: "\A";
    white-space: pre;
}

#signup p input {
    margin-top: 5px;
}

#signup p span {
    display: none;
}

.edit-form {
    display: flex;
    width: 70%;
    flex-direction: column;
    text-align: center;
}

.edit-form p {
    flex-direction: column;
    text-align: center;
}

.edit-form > p > input, select {
    height: 3rem;
    padding-left: 1rem;
}

.edit-form > p > label {
    font-weight: bold;
}

#image-clear_id {
    display:none;
}

label[for="image-clear_id"]
{
    display:none;
}

.button_edit {
    width: 30% !important;
    align-self: center;
}