* {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

a:link { text-decoration: none; }

body {
    background: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: rgba(9, 9, 9, 0.07);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.article-wrapper {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.article-image-wrapper {
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.article-image:hover {
    height: 110%;
}

.article-image {
    image-rendering: optimizespeed;
    height: 100%;
}

.article {
    width: max-content;
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    padding: 2rem;
    margin: 2rem;
    border-radius: 5px;
    box-shadow: #0000002e 1px 2px 2px 0px;
}

.article-info-small {
    padding-top: 1rem;
}

.article-name {
    color: black;
    font-family: arial;
    font-size: 16pt;
}

.article-price {
    color: #666;
    font-weight: bolder;
    font-family: arial;
    font-size: 32pt;
    text-align: right;
}

.header-user-bla {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-user-bla * {
    margin: 0 0.5rem 0.5rem 1rem;
}

.header-user-name {
    font-weight: bold;
}

.header-login-logout {
    display: flex;
    align-items: center;
}

.avatar-small {
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 100px;
    margin-right: 1rem;
}

.btn-create-new-box {
    background: #575757;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: #0000002e 1px 2px 2px 0px;
}

.detail-article-image {
    width: 100%;
}

.detail-wrapper {
    width: 80%;
    padding: 3rem;
    margin: 3rem;
    background: #f1f1f1;
}