{% extends 'home.html' %}
{% load static %}

{% block title %}Comment edit{% endblock %}

{% block logged_in_content %}
<h2>Comment edit</h2>
    {% if not can_delete %}
        You are not authorized to edit this comment.<br><br>
    {% endif %}


    {% if can_delete %}
        <b class="author_delete">{{ comment.user.user.username }}</b>
        <span class="author_on">{{ comment.timestamp }}</span><br>
        <form id="comment_edit_form_service" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="delete_submit btn" type="submit" name="edit">Edit</button>
        </form>
    {% endif %}
{% endblock %}