{% extends 'home.html' %}
{%  load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}Users list{% endblock %}

{% block logged_in_content %}
    <h2>Users list</h2>
    <ul class="user_list">
        {% for myuser in all_myusers %}
            <p class="user_name">{{ myuser.user.username }}</p>
            <img class="user_image" src="{{ myuser.profile_picture.url }}" height="150" width="150" alt="a"><br>
            <br>
        {% endfor %}
    </ul>
{% endblock %}