<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Permanent+Marker&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
    <title>{% block title %}Base Titel{% endblock %}</title>
</head>
<body>
    <header>
        <a href="/" class="logo-wrapper"><img src="/media/misc/logo.png" class="logo"></a>
        <a href={% url "box_search" %} class="search">Search for a shoebox</a>
        {% if user.is_authenticated %}
            {% block logged_in_content_header %}
                <div class="header-user-bla">
                    <a class="btn" href="{% url 'box-create' %}">add box</a>
                    <div class="fc">
                        <p class="header-user-name">{{ user.username }}</p>
                        <a class="header-login-logout" href="{% url 'logout' %}">Logout</a>
                    </div>
                    <img class="avatar-small" src="{{ myuser_get_profile_path }}">
                </div>
            {% endblock %}
        {% else %}
            {% block not_logged_in_content_header %}
                <div class="fr">
                    <a class="header-login-logout" href="{% url 'login' %}">Login</a>
                    <a class="header-login-logout" href="{% url 'signup' %}">Signup</a>
                </div>
            {% endblock %}
        {% endif %}
    </header>

    {% if user.is_authenticated %}
        {% block logged_in_content %}
        {% endblock %}
     {% else %}
        {% block not_logged_in_content %}
        {% endblock %}
    {% endif %}

</body>
<footer>
    &copy; 2021 - Impressum - Kontakt - FAQ - Sitemap
</footer>
</html>
