<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Permanent+Marker&display=swap" rel="stylesheet">
    {% block css %}{% endblock %}
    <title>{% block title %}Base Titel{% endblock %}</title>
</head>
<body>
    <header>
        <h2><a href="/">{% block header-title %}Header title{% endblock %}</a></h2>

        {% if user.is_authenticated %}
            {% block logged_in_content_header %}
                <div class="header-user-bla">
                    <a class="btn" href="{% url 'box-create' %}">add box</a>
                    <div class="bla">
                        <p class="header-user-name">{{ user.username }}</p>
                        <a class="header-login-logout" href="{% url 'logout' %}">Logout</a>
                    </div>
                    <div class="avatar-small"></div>
                </div>
            {% endblock %}
        {% else %}
            {% block not_logged_in_content_header %}
                <a class="header-login-logout" href="{% url 'login' %}">Login</a>
            {% endblock %}
        {% endif %}
    </header>
    {% block content %}Base Block{% endblock %}
</body>
<footer>
    &copy; 2021 - Impressum - Kontakt - FAQ - Sitemap
</footer>
</html>
