{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}

{% block title %}MyBox{% endblock %}

    {% if user.is_authenticated %}
        {% block logged_in_content %}
            <div class="login-notify">You are already logged in!</div>
        {% endblock %}
    {% else %}
        {% block not_logged_in_content %}
            <div class="login-notify">You are not logged in!</div>
        {% endblock %}
    {% endif %}

{% block content %}

{% endblock %}